<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Likes List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="output"></div>
    <script id='template' type="text/ractive">
    <button type="button" class="btn btn-info form-control" on-click='download'>Download</button>
    <table id='datatable' class='table table-bordered'>
      <thead>
        <tr class='info'>
          <th>{{info.likes_total}}人按讚</th>
          <th>{{info.comments_total}}人回應</th>
        </tr>
      </thead>
      <tbody>
      {{#each info.likes_id:num}}
        <tr>
          <td>{{num+1}}. <a href='https://www.facebook.com/{{.}}'>{{.}}</a></td>
          <td>ID:<a href='https://www.facebook.com/{{info.comments_id[num]}}'>{{info.comments_id[num]}}</a></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    </script>

    <script src='../js/third_party/ractive.js' type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='../js/detail.js' type="text/javascript"></script>
    <script type="text/javascript" src="../js/third_party/tableExport.js"></script>
    <script type="text/javascript" src="../js/third_party/jquery.base64.js"></script>
  </body>
</html>
